<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34094672700-kq39r4jova1f188pilvjafp006im5f71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34094672700-kq39r4jova1f188pilvjafp006im5f71</string>
	<key>API_KEY</key>
	<string>AIzaSyCydsu1iTIGl0laThb114rjLnXUkQeQE8c</string>
	<key>GCM_SENDER_ID</key>
	<string>34094672700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auxilium</string>
	<key>PROJECT_ID</key>
	<string>auxilium-dorona</string>
	<key>STORAGE_BUCKET</key>
	<string>auxilium-dorona.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34094672700:ios:8d994035baa7cba093cc39</string>
</dict>
</plist>